<div class="main-container">
    <div class="card">
        <div class="card-header">
            <div class="d-flex">
                <h6 class="text-center">Rental Agreement</h6>
                <button *ngIf="agreement?.status=='0'" (click)="requestForReturn()" class="btn btn-primary ms-auto">Request For Return</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="maker">
                        <h6>Maker</h6>
                        <p>{{agreement?.maker}}</p>
                    </div>
                    <div class="model">
                        <h6>Model</h6>
                        <p>{{agreement.model}}</p>
                    </div>
                    <div class="rentalprice">
                        <h6>Rental Price</h6>
                        <p>{{agreement.rentalPrice}}</p>
                    </div>
                    <div class="form-group mb-3">
                        <h6 class="form-label">Start Date</h6>
                        <p>{{agreement.startDate|reviseDate}}</p>
                    </div>
                    <div class="form-group mb-3">
                        <h6 class="form-label">End Date</h6>
                        <p>{{agreement.endDate|reviseDate}}</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="maker">
                        <h6>User Name</h6>
                        <p>{{agreement.name}}</p>
                    </div>
                    <div class="model">
                        <h6>Email</h6>
                        <p>{{agreement.email}}</p>
                    </div>
                    <div class="rentalprice">
                        <h6>Phone Number</h6>
                        <p>{{agreement.phoneNumber}}</p>
                    </div>
                    <div class="">
                        <h6>Total Cost</h6>
                        <p>₹ {{agreement.totalCost}}</p>
                    </div>
                    <div class="form-group mb-3">
                        <h6 class="form-label">Status</h6>
                        <p *ngIf="agreement?.status=='0'">CarIsRented</p>
                        <p *ngIf="agreement?.status=='1'">Request For Return</p>
                        <p *ngIf="agreement?.status=='2'">Car is Returned</p>
                        <p *ngIf="agreement?.status=='3'">Marked For Inspection</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>